.primer {
    height: 600px;

    background-image: url('../../img/Data/cloud.png') ,
                url('../../img/Data/server.png') ;
    background-size: 50% auto;
    background-position: left top, right top;
    background-repeat: no-repeat;
}